/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html,
button,
input,
select,
textarea {
  color: #222;
}
html {
  font-size: 1em;
  line-height: 1.4;
}
/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */
audio,
canvas,
img,
video {
  vertical-align: middle;
}
/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}
/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.regular {
  font-family: 'lato_regular';
}
.medium {
  font-family: 'lato_medium';
}
.light {
  font-family: 'lato_light';
}
.semibold {
  font-family: 'lato_semibold';
}
.s-text {
  font-size: 0.875rem;
}
@font-face {
  font-family: 'lato_medium';
  src: url('../fonts/lato-medium-webfont.eot');
  src: url('../fonts/lato-medium-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lato-medium-webfont.woff') format('woff'), url('../fonts/lato-medium-webfont.ttf') format('truetype'), url('../fonts/lato-medium-webfont.svg#latomedium') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'lato_semibold';
  src: url('../fonts/lato-semibold-webfont.eot');
  src: url('../fonts/lato-semibold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lato-semibold-webfont.woff') format('woff'), url('../fonts/lato-semibold-webfont.ttf') format('truetype'), url('../fonts/lato-semibold-webfont.svg#latosemibold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'lato_regular';
  src: url('../fonts/lato-regular-webfont.eot');
  src: url('../fonts/lato-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lato-regular-webfont.woff') format('woff'), url('../fonts/lato-regular-webfont.ttf') format('truetype'), url('../fonts/lato-regular-webfont.svg#latoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'lato_light';
  src: url('../fonts/lato-light-webfont.eot');
  src: url('../fonts/lato-light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lato-light-webfont.woff') format('woff'), url('../fonts/lato-light-webfont.ttf') format('truetype'), url('../fonts/lato-light-webfont.svg#latolight') format('svg');
  font-weight: normal;
  font-style: normal;
}
.list-unstyled {
  margin: 0;
  padding: 0;
  list-style: none;
}
.font-awesome {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fa-spin {
  -webkit-animation: spin 2s infinite linear;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}
.fl-r {
  float: right;
}
h1 {
  font-family: 'lato_semibold';
  font-size: 2.5rem;
  padding-top: 3.125rem;
  margin: 0;
}
h2 {
  font-size: 2.125rem;
  text-transform: uppercase;
  padding: 4.6875rem 0 0;
  margin: 0;
}
h3 {
  font-family: 'lato_regular';
  font-size: 1.5rem;
  margin: 0 0 0.9375rem;
}
h3 a {
  color: #525252;
  text-decoration: none;
}
.us-btn {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  font-family: 'lato_regular';
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 0.3125rem;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.125rem;
  background: transparent;
  padding: 0 2.5rem;
  height: 3.4375rem;
  line-height: 3.4375rem;
  outline: 0 none;
}
.us-btn:hover {
  background: #fff;
  color: #295aa0;
}
.us-btn.invert {
  color: #295aa0;
  border-color: #295aa0;
}
.us-btn.invert:hover {
  color: #fff;
  background: #295aa0;
}
.us-btn.loading:before {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-animation: spin 2s infinite linear;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
  position: relative;
  content: "\f110";
  left: -0.9375rem;
  margin-right: 0.3125rem;
}
.us-link {
  -webkit-transition: border 0.5s ease;
  transition: border 0.5s ease;
  color: #3764a6;
  text-decoration: none;
  border-bottom: 1px solid #3764a6;
}
.us-link:hover {
  border-color: transparent;
}
.link {
  -webkit-transition: border 0.5s ease;
  transition: border 0.5s ease;
  text-decoration: none;
  border-bottom: 1px solid #3764a6;
}
.link:hover {
  border-color: transparent;
}
.text-element {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'lato_light';
  border: 1px solid #c3c7ca;
  padding: 0 0.625rem;
  outline: 0 none;
  border-radius: 0.1875rem;
}
.text-element:focus {
  box-shadow: 0 0 0 0.0625rem #295aa0;
  border-color: #295aa0;
}
.text-element.inp-error {
  box-shadow: 0 0 0 0.0625rem #fd7373;
  border-color: #FD7373;
}
.us-input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'lato_light';
  border: 1px solid #c3c7ca;
  padding: 0 0.625rem;
  outline: 0 none;
  border-radius: 0.1875rem;
  height: 3.125rem;
}
.us-input:focus {
  box-shadow: 0 0 0 0.0625rem #295aa0;
  border-color: #295aa0;
}
.us-input.inp-error {
  box-shadow: 0 0 0 0.0625rem #fd7373;
  border-color: #FD7373;
}
.us-textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'lato_light';
  border: 1px solid #c3c7ca;
  padding: 0 0.625rem;
  outline: 0 none;
  border-radius: 0.1875rem;
  padding-top: 0.625rem;
}
.us-textarea:focus {
  box-shadow: 0 0 0 0.0625rem #295aa0;
  border-color: #295aa0;
}
.us-textarea.inp-error {
  box-shadow: 0 0 0 0.0625rem #fd7373;
  border-color: #FD7373;
}
.us-select {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'lato_light';
  border: 1px solid #c3c7ca;
  padding: 0 0.625rem;
  outline: 0 none;
  border-radius: 0.1875rem;
  height: 3.125rem;
  background: #fff;
}
.us-select:focus {
  box-shadow: 0 0 0 0.0625rem #295aa0;
  border-color: #295aa0;
}
.us-select.inp-error {
  box-shadow: 0 0 0 0.0625rem #fd7373;
  border-color: #FD7373;
}
html {
  font-size: 16px;
  font-family: 'lato_light';
  color: #333333;
}
ul {
  font-size: 0;
}
ul li {
  font-size: 1rem;
}
.wrapper {
  width: 73.125rem;
  margin: 0 auto;
  padding: 0 1.25rem;
}
a {
  color: inherit;
}
/** STICKY FOOTER **/
html,
body {
  height: 100%;
}
header {
  background: #fff;
}
.body-wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -10rem;
  background: #f7f7f7;
}
.main-footer,
.push {
  height: 10rem;
}
.main-header {
  padding: 1.875rem 0;
}
.main-header .header-logo {
  display: inline-block;
  vertical-align: middle;
}
.main-header .header-logo .logo {
  display: inline-block;
  vertical-align: middle;
  width: 4.1875rem;
  height: 4.375rem;
  background: url(../img/logo.jpg) no-repeat 0 0 / 100%;
}
.main-header .header-logo .text {
  display: inline-block;
  vertical-align: middle;
  color: #444444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  line-height: 1.4rem;
  width: 11.25rem;
  margin-left: 1.5625rem;
}
.main-header .header-block {
  position: relative;
  top: -0.625rem;
  display: inline-block;
  float: right;
}
.main-header .header-block .apply-div {
  margin-bottom: 1.5625rem;
}
.main-header .header-block .apply-div a {
  -webkit-transition: border 0.5s ease;
  transition: border 0.5s ease;
  float: right;
  color: #1e54a6;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  border-bottom: 1px dashed #1e54a6;
}
.main-header .header-block .apply-div a:hover {
  border-color: transparent;
}
.main-header .header-block .header-menu {
  height: 2.5rem;
  line-height: 2.5rem;
}
.main-header .header-block .nav-block {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 51.25rem;
}
.main-header .header-block .nav-block .search-anim {
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  position: absolute;
  overflow: hidden;
  right: -2.5rem;
  height: 2.625rem;
  width: 0;
  opacity: 0;
}
.main-header .header-block .nav-block .search-anim.active {
  -webkit-transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.main-header .header-block .nav-block .search-cont {
  position: relative;
  width: 51.25rem;
}
.main-header .header-block .nav-block .header-search {
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  position: absolute;
  width: 100%;
  background: #fff;
}
.main-header .header-block .nav-block .header-search .header-input {
  font-family: 'lato_light';
  position: inline-block;
  vertical-align: middle;
  width: 80%;
  float: right;
  height: 2.1875rem;
  background: transparent;
  border: 0 none;
  border-bottom: 0.125rem solid #dddddd;
  outline: 0 none;
  padding: 0 2.5rem 0.3125rem 0;
}
.main-header .header-block .nav-block .header-search .menu-icon {
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  float: right;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  height: 2.1875rem;
  width: 1.875rem;
  margin-right: 1.5625rem;
}
.main-header .header-block .nav-block .header-search .menu-icon:hover {
  opacity: .5;
}
.main-header .header-block .nav-block .header-search .menu-icon span {
  display: inline-block;
  position: absolute;
  width: 70%;
  height: 0.125rem;
  top: 50%;
  margin-top: -0.0625rem;
  margin-left: 15%;
  background: #000;
}
.main-header .header-block .nav-block .header-search .menu-icon span:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000;
  top: -300%;
}
.main-header .header-block .nav-block .header-search .menu-icon span:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000;
  top: 300%;
}
.main-header .header-block .main-nav {
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  position: absolute;
  right: 0;
}
.main-header .header-block .main-nav.closed {
  opacity: 0;
}
.main-header .header-block .main-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.main-header .header-block .main-nav ul li {
  display: inline-block;
  margin-right: 0.9375rem;
}
.main-header .header-block .main-nav ul li a {
  -webkit-transition: border 0.1s ease;
  transition: border 0.1s ease;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  color: #444444;
  font-size: 0.875rem;
  padding-bottom: 0.125rem;
  border-bottom: 1px solid transparent;
}
.main-header .header-block .main-nav ul li a:hover {
  border-color: #444;
}
.main-header .header-block .search-icon {
  position: relative;
  display: inline-block;
  color: #2256a4;
  background: transparent;
  border: 0;
  outline: 0;
  font-size: 1.5625rem;
}
.index-block {
  position: relative;
  padding: 5.625rem 0;
  background: url(../img/index/index-back.jpg) no-repeat 0 0 / cover;
  color: #ffffff;
  min-width: 75.625rem;
}
.index-block:before {
  content: "";
  position: absolute;
  background: #2b5c9d;
  opacity: .9;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.index-block .wrapper {
  position: relative;
  z-index: 1;
}
.index-block .title {
  font-family: 'lato_regular';
  font-size: 2.5rem;
  line-height: 2.77775rem;
  width: 48.125rem;
}
.index-block .desc {
  margin-top: 1.25rem;
  font-size: 1.125rem;
  line-height: 1.7578125rem;
  width: 47.125rem;
  height: 6.375rem;
}
.index-block .btns {
  margin-top: 3.125rem;
}
.index-info {
  padding: 2.8125rem 0 6.25rem;
  background: #fff;
}
.index-info .title {
  display: inline-block;
  font-size: 1rem;
  color: #888888;
  text-transform: uppercase;
  text-decoration: none;
  margin-bottom: 3.125rem;
}
.index-info .left-block {
  display: inline-block;
  vertical-align: top;
  width: 75%;
}
.index-info .services {
  margin: 0;
  padding: 0;
  list-style: none;
}
.index-info .services li {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  width: 33.33333333%;
  padding: 0 3.75rem 0 1.25rem;
  border-left: 2px solid #dddddd;
}
.index-info .services li .service-img {
  height: 4.6875rem;
  width: 3.875rem;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 0.625rem 0 1.09375rem;
}
.index-info .services li .service-title {
  font-family: 'lato_regular';
  font-size: 1.125rem;
  color: #27599f;
  text-transform: uppercase;
  margin-bottom: 0.625rem;
}
.index-info .services li .service-desc {
  font-size: 1rem;
}
.index-info .right-block {
  display: inline-block;
  vertical-align: top;
  width: 25%;
}
.index-info .right-block .index-news {
  margin: 0;
  padding: 0;
  list-style: none;
}
.index-info .right-block .index-news li {
  margin-bottom: 1.875rem;
}
.index-info .right-block .index-news li:last-child {
  margin-bottom: 0;
}
.index-info .right-block .index-news li .news-date {
  color: #545454;
  font-size: 0.875rem;
  margin-bottom: 0.625rem;
}
.main-footer {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #f7f7f7;
  height: 10rem;
  padding-top: 2.8125rem;
  min-width: 75.625rem;
}
.main-footer.white-footer {
  background: #fff;
}
.main-footer .footer-block {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  padding-right: 2.5rem;
  width: 25%;
  line-height: 1.40625rem;
  color: #464646;
}
.main-footer .footer-block.s-text {
  line-height: 1.21875rem;
}
.main-footer .footer-block .phone-link {
  font-size: 1.25rem;
  text-decoration: none;
  color: #464646;
  line-height: 2.1875rem;
}
.normal-page {
  background: #f7f7f7;
  padding-bottom: 8.4375rem;
  min-width: 75.625rem;
}
.normal-page .nav-cont {
  position: relative;
}
.normal-page .nav-cont .nav-line {
  position: absolute;
  height: 0.1875rem;
  left: 0;
  bottom: 0;
  background: #295aa0;
  z-index: 2;
}
.normal-page .nav-cont .nav-line.transition {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.normal-page .page-nav {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  padding-bottom: -3px;
  margin-top: 2.1875rem;
}
.normal-page .page-nav:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: #dddddd;
  z-index: 1;
}
.normal-page .page-nav li {
  display: inline-block;
  vertical-align: top;
  margin-right: 2.5rem;
}
.normal-page .page-nav li a {
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
  position: relative;
  display: inline-block;
  font-size: 1.125rem;
  color: #333333;
  text-decoration: none;
  padding-bottom: 1.4375rem;
  z-index: 2;
}
.normal-page .page-nav li a:hover {
  color: #2658a2;
}
.normal-page .page-nav li.active a {
  color: #2658a2;
}
.normal-page .page-content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 3.125rem 0 0 6.25rem;
}
.normal-page .page-content p {
  margin-top: 0;
}
.normal-page .page-text {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 2.1875rem 0 0 6.25rem;
  width: 57.5rem;
}
.normal-page .page-text p {
  margin-top: 0;
}
.normal-page .page-desc {
  font-style: italic;
  margin-top: 1.25rem;
}
.normal-page .column-three {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  width: 33.33333333%;
  padding-right: 1.875rem;
  margin-right: -0.2em;
}
.normal-page .left-bordered {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 1.25rem;
  border-left: 1px solid #dddddd;
}
.news-list {
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  width: 72%;
  padding: 0 3.125rem 0 6.25rem;
}
.news-list h3 {
  margin-bottom: 0.9375rem;
}
.news-list h3 a {
  color: #525252;
  text-decoration: none;
}
.news-list li {
  margin-top: 3.4375rem;
}
.news-list .news-date {
  font-size: 0.875rem;
  color: #545454;
}
.news-list .news-text {
  margin-top: 0.9375rem;
  color: #333333;
}
.news-year {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-block;
  vertical-align: top;
  width: 15%;
  margin-top: 3.4375rem;
  padding-left: 1.25rem;
  border-left: 1px solid #dddddd;
}
.news-year li {
  margin-bottom: 0.9375rem;
}
.news-year li a {
  color: #545454;
  text-decoration: none;
}
.news-year li a:hover {
  font-family: 'lato_medium';
  color: #2658a2;
}
.news-year li.active a {
  font-family: 'lato_medium';
  color: #2658a2;
}
.news-year li:last-child {
  margin-bottom: 0;
}
.fonds {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  padding: 1.5625rem 0 0 6.25rem;
  width: 58.125rem;
}
.fonds .fonds-blocks .title {
  font-size: 0.875rem;
  margin-bottom: 0.4375rem;
}
.fonds .fonds-blocks .search-body {
  height: 3.125rem;
  line-height: 3.125rem;
}
.fonds .fonds-blocks .input-cross {
  -webkit-transition: color 0.25s ease;
  transition: color 0.25s ease;
  text-decoration: none;
  font-size: 1.25rem;
  margin-left: 0.625rem;
  color: transparent;
  cursor: default;
}
.fonds .fonds-blocks .input-cross.active {
  cursor: pointer;
  color: #ddd;
}
.fonds .fonds-blocks .input-cross.active:hover {
  color: #333;
}
.fonds .fonds-blocks .input-cross:before {
  content: "✕";
}
.fonds .fonds-blocks .left-block {
  display: inline-block;
  vertical-align: top;
  width: 55%;
}
.fonds .fonds-blocks .left-block .fond-input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'lato_light';
  border: 1px solid #c3c7ca;
  padding: 0 0.625rem;
  outline: 0 none;
  border-radius: 0.1875rem;
  height: 3.125rem;
  width: 85%;
}
.fonds .fonds-blocks .left-block .fond-input:focus {
  box-shadow: 0 0 0 0.0625rem #295aa0;
  border-color: #295aa0;
}
.fonds .fonds-blocks .left-block .fond-input.inp-error {
  box-shadow: 0 0 0 0.0625rem #fd7373;
  border-color: #FD7373;
}
.fonds .fonds-blocks .left-block .search-cont {
  display: inline-block;
  vertical-align: top;
  width: 100%;
}
.fonds .fonds-blocks .right-block {
  display: inline-block;
  vertical-align: top;
  width: 45%;
}
.fonds .fonds-blocks .right-block .slider-inputs {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 40%;
}
.fonds .fonds-blocks .right-block .slider-inputs span {
  color: #cdcdcd;
  margin-right: 0.625rem;
}
.fonds .fonds-blocks .right-block .slider-inputs .slider-input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'lato_light';
  border: 1px solid #c3c7ca;
  padding: 0 0.625rem;
  outline: 0 none;
  border-radius: 0.1875rem;
  height: 3.125rem;
  width: 55%;
}
.fonds .fonds-blocks .right-block .slider-inputs .slider-input:focus {
  box-shadow: 0 0 0 0.0625rem #295aa0;
  border-color: #295aa0;
}
.fonds .fonds-blocks .right-block .slider-inputs .slider-input.inp-error {
  box-shadow: 0 0 0 0.0625rem #fd7373;
  border-color: #FD7373;
}
.fonds .fonds-list {
  margin-top: 3.125rem;
  width: 100%;
}
.fonds .fonds-list .thead {
  height: 3.4375rem;
  line-height: 3.4375rem;
  font-size: 0.875rem;
}
.fonds .fonds-list .trow {
  min-height: 2.8125rem;
  line-height: 2.8125rem;
  font-family: 'lato_regular';
}
.fonds .fonds-list .trow:nth-of-type(2n+1) {
  background: #efefef;
}
.fonds .fonds-list .trows {
  margin: 0;
}
.fonds .fonds-list .trows .trow-old:last-child {
  border-bottom: 1px solid #3764a6;
}
.fonds .fonds-list .trows .trow-old:first-child {
  border-top: 1px solid #3764a6;
}
.fonds .fonds-list .trow-old {
  margin: 0;
  min-height: 2.8125rem;
  line-height: 2.8125rem;
  font-family: 'lato_regular';
}
.fonds .fonds-list span {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  padding: 0.625rem 0;
}
.fonds .fonds-list span:nth-of-type(1) {
  width: 7.5rem;
  text-align: center;
}
.fonds .fonds-list span:nth-of-type(2) {
  width: 35rem;
}
.fonds .fonds-list span:nth-of-type(3) {
  width: 9.375rem;
  text-align: center;
}
.fonds .fonds-list thead {
  font-size: 0.875rem;
}
.fonds .fonds-list tbody tr {
  font-family: 'lato_regular';
}
.fonds .fonds-list tbody tr:nth-of-type(2n+1) {
  background: #efefef;
}
.fonds .fonds-list tbody tr td:first-child {
  position: relative;
}
.fonds .fonds-list tbody tr td:first-child:before {
  content: attr(data-number);
  position: absolute;
  left: 0.625rem;
  color: #cdcdcd;
}
.fonds .fonds-list tr {
  height: 2.8125rem;
}
.fonds .fonds-list tr td {
  padding: 0 1.875rem;
}
.fonds .fonds-list tr td:nth-of-type(1) {
  text-align: center;
  width: 5.625rem;
  padding: 0 0.3125rem 0 1.5rem;
}
.slider-cont {
  width: 16.875rem;
  margin-top: 1.875rem;
}
.slider-cont .fonds-ranges {
  margin-top: 0.625rem;
  color: #cdcdcd;
  font-size: 0.875rem;
}
.slider-cont #slider-range {
  height: 0.1875rem;
  background: #ddd;
  border-radius: 0;
  border: 0 none;
}
.slider-cont #slider-range .ui-slider-handle {
  height: 0.75rem;
  width: 0.625rem;
  border: 0 none;
  border-radius: 0;
  background: transparent;
  top: -0.28125rem;
  outline: 0 none;
  cursor: pointer;
}
.slider-cont #slider-range .ui-slider-handle:before {
  content: "";
  position: absolute;
  width: 0.1875rem;
  height: 100%;
  right: -1px;
  background: #295aa0;
}
.slider-cont #slider-range .ui-slider-range {
  background: #295aa0;
  height: 0.3125rem;
  top: -0.0625rem;
  border-radius: 0;
}
.search-amount {
  font-size: 0.875rem;
  margin-top: 2.5rem;
}
.search-amount span {
  font-family: 'lato_regular';
}
.search {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 6.25rem;
  width: 58.125rem;
}
.search .search-list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 3.125rem;
}
.search .search-list li {
  margin-bottom: 3.125rem;
}
.search .search-list li:last-child {
  margin-bottom: 0;
}
.applies {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  width: 75%;
  padding-right: 3.75rem;
}
.applies .apply-list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 2.1875rem;
}
.applies .apply-list .title {
  font-size: 2.125rem;
  padding-top: 2.1875rem;
}
.applies .apply-list .apply-text {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 0.9375rem;
  padding-left: 6.25rem;
}
.applies-right {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 1.5rem;
  display: inline-block;
  vertical-align: top;
  width: 25%;
}
.applies-right .desc {
  margin-top: 1.5625rem;
}
.apply-form {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 2.5rem 0 0 6.25rem;
  width: 58.125rem;
}
.apply-form .apply-input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'lato_light';
  border: 1px solid #c3c7ca;
  padding: 0 0.625rem;
  outline: 0 none;
  border-radius: 0.1875rem;
  height: 3.125rem;
  width: 100%;
}
.apply-form .apply-input:focus {
  box-shadow: 0 0 0 0.0625rem #295aa0;
  border-color: #295aa0;
}
.apply-form .apply-input.inp-error {
  box-shadow: 0 0 0 0.0625rem #fd7373;
  border-color: #FD7373;
}
.apply-form .apply-textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'lato_light';
  border: 1px solid #c3c7ca;
  padding: 0 0.625rem;
  outline: 0 none;
  border-radius: 0.1875rem;
  padding-top: 0.625rem;
  width: 100%;
  resize: none;
  height: 9.375rem;
}
.apply-form .apply-textarea:focus {
  box-shadow: 0 0 0 0.0625rem #295aa0;
  border-color: #295aa0;
}
.apply-form .apply-textarea.inp-error {
  box-shadow: 0 0 0 0.0625rem #fd7373;
  border-color: #FD7373;
}
.apply-form .apply-select {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'lato_light';
  border: 1px solid #c3c7ca;
  padding: 0 0.625rem;
  outline: 0 none;
  border-radius: 0.1875rem;
  height: 3.125rem;
  background: #fff;
  width: 100%;
}
.apply-form .apply-select:focus {
  box-shadow: 0 0 0 0.0625rem #295aa0;
  border-color: #295aa0;
}
.apply-form .apply-select.inp-error {
  box-shadow: 0 0 0 0.0625rem #fd7373;
  border-color: #FD7373;
}
.apply-form .file-td {
  height: 3.125rem;
}
.apply-form .form-container {
  position: relative;
  margin: 0.625rem 0 0 9.5625rem;
}
.apply-form .form-container .apply-file {
  position: absolute;
  top: 0;
  left: -4.375rem;
  outline: 0 none;
  opacity: 0;
  cursor: pointer;
}
.apply-form .form-container .us-btn {
  margin-top: 3.125rem;
}
.apply-form .desc {
  margin-bottom: 3.125rem;
}
.apply-form .apply-table {
  width: 100%;
}
.apply-form .apply-table tr {
  height: 5rem;
}
.apply-form .apply-table tr td:first-child {
  width: 9.375rem;
}
.js-tabs li {
  display: none;
}
.js-tabs li.active {
  display: block;
}
.contacts {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 3.4375rem 0 0 6.25rem;
  width: 66.875rem;
}
.contacts .btn-cont {
  padding: 2.1875rem 0 3.75rem;
}
.contacts .contact-hr {
  width: 4.6875rem;
  height: 0.125rem;
  background: #bbbbbb;
  margin: 0.625rem 0 2.1875rem;
}
.contacts .phone-link {
  color: #333;
  text-decoration: none;
}
.contacts .phone-block {
  display: inline-block;
  color: #333;
  text-decoration: none;
  margin-top: 0.625rem;
}
.contacts .contact-block {
  margin-bottom: 1.5625rem;
}
.contacts .contact-blocks {
  margin: 0;
  padding: 0;
  list-style: none;
}
.contacts .contact-blocks li {
  display: inline-block;
  vertical-align: top;
  width: 32%;
  line-height: 1.875rem;
}
.contacts .contact-blocks li span,
.contacts .contact-blocks li i {
  display: inline-block;
  line-height: normal;
}
.contacts .contact-blocks.auto-columns {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
}
.contacts .map-cont {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  position: relative;
  overflow: hidden;
  height: 0;
}
.contacts .map-cont.active {
  height: 27.5rem;
}
.contacts #contact-map {
  width: 100%;
  height: 0;
  height: 25rem;
}
.status {
  margin: 0;
  padding: 0;
  list-style: none;
  padding: 3.125rem 0 0 6.25rem;
  width: 58.125rem;
}
.status li {
  margin-bottom: 3.75rem;
}
.status .row {
  margin-bottom: 1.5625rem;
}
.status .row:last-child {
  margin-bottom: 0;
}
.status .row .left-td {
  display: inline-block;
  vertical-align: top;
  width: 14%;
}
.status .row .right-td {
  display: inline-block;
  vertical-align: top;
  width: 85%;
}
.status .status-type {
  font-family: 'lato_regular';
  display: inline-block;
  border: 2px solid;
  border-radius: 0.625rem;
  padding: 0 0.3125rem;
  margin-right: 0.625rem;
  text-transform: lowercase;
  font-size: 0.875rem;
  border-color: #535353;
  color: #535353;
}
.status .status-type.status-type-inwork {
  border-color: #005cad;
  color: #005cad;
}
.status .status-type.status-type-cancel {
  border-color: #CE6767;
  color: #CE6767;
}
.status .status-type.status-type-success {
  border-color: #0F9C0F;
  color: #0F9C0F;
}
.status .status-desc {
  font-family: 'lato_regular';
  display: inline-block;
  vertical-align: top;
}
.status .status-date {
  font-family: 'lato_regular';
}
.logout-form {
  position: relative;
}
.logout-form .logout-btn {
  font-family: 'lato_light';
  -webkit-transition: border 0.5s ease;
  transition: border 0.5s ease;
  position: absolute;
  right: 0;
  top: -1.875rem;
  display: inline-block;
  background: transparent;
  border: 0;
  padding: 0;
  border-bottom: 1px dashed;
  outline: none;
}
.logout-form .logout-btn:hover {
  border-color: transparent;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Image replacement
 */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;
}
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}
/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
  display: none !important;
  visibility: hidden;
}
/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
  visibility: hidden;
}
/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.clearfix:after {
  clear: both;
}
/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
  *zoom: 1;
}
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}
@media print, (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links for images, or javascript/internal links
     */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
