html {
	font-size: ~'@{htmlFontSize}px';
	font-family: 'lato_light';
	color: #333333;
}

ul {
	font-size: 0;

	li {
		font-size: 1rem;
	}
}

.wrapper {
	width: @wrap-width;
	margin: 0 auto;
	padding: 0 @wrap-padding;
}

a {
	.transition(border);
	text-decoration: none;
	border-bottom: 1px solid;
	color: inherit;

	&:hover {
		border-color: transparent;
	}
}

/** STICKY FOOTER **/

html, body {
	height: 100%;
}

header {
	background: #fff;
}

.body-wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -160rem / @htmlFontSize;
	background: #f7f7f7;
}

.main-footer, .push {
	height: 160rem / @htmlFontSize;
}
