.applies {
	.box-sizing;
	display: inline-block;
	vertical-align: top;
	width: 100%/4*3;
	padding-right: 60rem / @htmlFontSize;

	.apply-list {
		.list-unstyled;
		margin-top: 35rem / @htmlFontSize;

		.title {
			font-size: 34rem / @htmlFontSize;
			padding-top: 35rem / @htmlFontSize;
		}

		.apply-text {
			.box-sizing;
			margin-top: 15rem / @htmlFontSize;
			padding-left: 100rem / @htmlFontSize;
		}
	}
}

.applies-right {
	.box-sizing;
	padding-top: 24rem / @htmlFontSize;
	display: inline-block;
	vertical-align: top;
	width: 100%/4;

	.desc {
		margin-top: 25rem / @htmlFontSize;
	}
}