.fonds {
	.box-sizing;
	position: relative;
	padding: 25rem / @htmlFontSize 0 0 100rem / @htmlFontSize;
	width: 930rem / @htmlFontSize;

	.fonds-blocks {

		.title {
			font-size: 14rem / @htmlFontSize;
			margin-bottom: 7rem / @htmlFontSize;
		}

		.search-body {
			height: 50rem / @htmlFontSize;
			line-height: 50rem / @htmlFontSize;
		}

		.input-cross {
			.transition(color, .25s);
			text-decoration: none;
			font-size: 20rem / @htmlFontSize;
			margin-left: 10rem / @htmlFontSize;
			color: transparent;
			cursor: default;

			&.active {
				cursor: pointer;
				color: #ddd;

				&:hover {
					color: #333;
				}
			}

			&:before {
				content: "✕";
			}
		}

		.left-block {
			display: inline-block;
			vertical-align: top;
			width: 55%;

			.fond-input {
				.us-input;
				width: 85%;
			}

			.search-cont {
				display: inline-block;
				vertical-align: top;
				width: 100%;
			}
		}

		.right-block {
			display: inline-block;
			vertical-align: top;
			width: 45%;

			.slider-inputs {
				position: relative;
				display: inline-block;
				vertical-align: top;
				width: 40%;

				span {
					color: #cdcdcd;
					margin-right: 10rem / @htmlFontSize;
				}

				.slider-input {
					.us-input;
					width: 55%;
				}
			}
		}
	}

	.fonds-list {
		margin-top: 50rem / @htmlFontSize;
		width: 100%;

		thead {
			font-size: 14rem / @htmlFontSize;
		}

		tbody {

			tr {
				.regular;

				&:nth-of-type(2n+1) {
					background: #efefef;
				}

				td:first-child {
					position: relative;

					&:before {
						content: attr(data-number);
						position: absolute;
						left: 10rem / @htmlFontSize;
						color: #cdcdcd;
					}
				}
			}
		}

		tr {
			height: 45rem / @htmlFontSize;

			td {
				padding: 0 30rem / @htmlFontSize;

				&:nth-of-type(2) {
					text-align: right;
				}
			}
		}
	}
}

.js-slider {

	*::selection {
		background: transparent;
	}

	*::-moz-selection {
		background: transparent;
	}
	
	.js-slider-bar {
		position: relative;
		margin: 15px 0;
		width: 270px;
		height: 3px;
		background: #dddddd;

		.js-slider-in {
			position: absolute;
			left: 10%;
			top: -1px;
			right: 10%;
			height: 5px;
			background: #295aa0;

			.left-line, .right-line {
				position: absolute;
				height: 10px;
				width: 10px;
				top: -2.5px;
				cursor: pointer;

				&:before {
					content: "";
					position: absolute;
					background: #295aa0;
					width: 2px;
					height: 100%;
				}
			}

			.left-line {
				left: 0;
				&:before {left: 0;}
			}

			.right-line {
				right: 0;
				&:before {right: 0;}
			}
		}
	}
}