.fonds {
	.box-sizing;
	position: relative;
	padding: 25rem / @htmlFontSize 0 0 100rem / @htmlFontSize;
	width: 930rem / @htmlFontSize;

	.fonds-blocks {

		.title {
			font-size: 14rem / @htmlFontSize;
			margin-bottom: 7rem / @htmlFontSize;
		}

		.search-body {
			height: 50rem / @htmlFontSize;
			line-height: 50rem / @htmlFontSize;
		}

		.input-cross {
			.transition(color, .25s);
			text-decoration: none;
			font-size: 20rem / @htmlFontSize;
			margin-left: 10rem / @htmlFontSize;
			color: transparent;
			cursor: default;

			&.active {
				cursor: pointer;
				color: #ddd;

				&:hover {
					color: #333;
				}
			}

			&:before {
				content: "✕";
			}
		}

		.left-block {
			display: inline-block;
			vertical-align: top;
			width: 55%;

			.fond-input {
				.us-input;
				width: 85%;
			}

			.search-cont {
				display: inline-block;
				vertical-align: top;
				width: 100%;
			}
		}

		.right-block {
			display: inline-block;
			vertical-align: top;
			width: 45%;

			.slider-inputs {
				position: relative;
				display: inline-block;
				vertical-align: top;
				width: 40%;

				span {
					color: #cdcdcd;
					margin-right: 10rem / @htmlFontSize;
				}

				.slider-input {
					.us-input;
					width: 55%;
				}
			}
		}
	}

	.fonds-list {
		margin-top: 50rem / @htmlFontSize;
		width: 100%;

		.thead {
			height: 55rem / @htmlFontSize;
			line-height: 55rem / @htmlFontSize;
			font-size: 14rem / @htmlFontSize;
		}

		.trow {
			min-height: 45rem / @htmlFontSize;
			line-height: 45rem / @htmlFontSize;
			.regular;

			&:nth-of-type(2n+1) {
				background: #efefef;
			}
		}

		.trows {
			margin: 0;
		}

		.trows-old {
			margin: 0;
			min-height: 45rem / @htmlFontSize;
			line-height: 45rem / @htmlFontSize;
			.regular;
		}

		span {
			display: inline-block;
			vertical-align: middle;
			line-height: normal;
			padding: 10rem / @htmlFontSize 0;

			&:nth-of-type(1) {
				width: 120rem / @htmlFontSize;
				text-align: center;
			}

			&:nth-of-type(2) {
				width: 560rem / @htmlFontSize;
			}

			&:nth-of-type(3) {
				width: 150rem / @htmlFontSize;
				text-align: center;
			}
		}

		thead {
			font-size: 14rem / @htmlFontSize;
		}

		tbody {

			tr {
				.regular;

				&:nth-of-type(2n+1) {
					background: #efefef;
				}

				td:first-child {
					position: relative;

					&:before {
						content: attr(data-number);
						position: absolute;
						left: 10rem / @htmlFontSize;
						color: #cdcdcd;
					}
				}
			}
		}

		tr {
			height: 45rem / @htmlFontSize;

			td {
				padding: 0 30rem / @htmlFontSize;

				&:nth-of-type(1) {
					text-align: center;
					width: 90rem / @htmlFontSize;
					padding: 0 5rem / @htmlFontSize 0 1.5rem;
				}
			}
		}
	}
}

.slider-cont {
	width: 270rem / @htmlFontSize;
	margin-top: 30rem / @htmlFontSize;

	.fonds-ranges {
		margin-top: 10rem / @htmlFontSize;
		color: #cdcdcd;
		font-size: 14rem / @htmlFontSize;
	}

	#slider-range {
		height: 3rem / @htmlFontSize;
		background: #ddd;
		border-radius: 0;
		border: 0 none;

		.ui-slider-handle {
			height: 12rem / @htmlFontSize;
			width: 10rem / @htmlFontSize;
			border: 0 none;
			border-radius: 0;
			background: transparent;
			top: -4.5rem / @htmlFontSize;
			outline: 0 none;
			cursor: pointer;

			&:before {
				content: "";
				position: absolute;
				width: 3rem / @htmlFontSize;
				height: 100%;
				right: -1px;
				background: #295aa0;
			}
		}

		.ui-slider-range {
			background: #295aa0;
			height: 5rem / @htmlFontSize;
			top: -1rem / @htmlFontSize;
			border-radius: 0;
		}
	}
}