.status {
	.list-unstyled;
	padding: 50rem / @htmlFontSize 0 0 100rem / @htmlFontSize;
	width: 930rem / @htmlFontSize;

	li {
		margin-bottom: 60rem / @htmlFontSize;
	}

	.row {
		margin-bottom: 25rem / @htmlFontSize;
		&:last-child {margin-bottom: 0;}

		.left-td {
			display: inline-block;
			vertical-align: top;
			width: 14%;
		}

		.right-td {
			display: inline-block;
			vertical-align: top;
			width: 85%;
		}
	}

	.status-type {
		.regular;
		display: inline-block;
		border: 2px solid;
		border-radius: 10rem / @htmlFontSize;
		padding: 0 5rem / @htmlFontSize;
		margin-right: 10rem / @htmlFontSize;
		text-transform: lowercase;
		font-size: 14rem / @htmlFontSize;
		border-color: #535353;
		color: #535353;

		&.status-type-inwork {
			border-color: #005cad;
			color: #005cad;
		}

		&.status-type-cancel {
			border-color: #CE6767;
			color: #CE6767;
		}

		&.status-type-success {
			border-color: #0F9C0F;
			color: #0F9C0F;
		}
	}

	.status-desc {
		.regular;
		display: inline-block;
		vertical-align: top;
	}

	.status-date {
		.regular;
	}
}
.logout-form {
	position: relative;

	.logout-btn {
		.light;
		.transition(border);
		position: absolute;
		right: 0;
		top: -30rem / @htmlFontSize;
		display: inline-block;
		background: transparent;
		border: 0;
		padding: 0;
		border-bottom: 1px dashed;
		outline: none;

		&:hover {
			border-color: transparent;
		}
	}
}